
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

// Import fonts and remove margin for HTML
html,
body {
    background-color: #222;
    margin: 0;
    font-size: 1em;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

html{
    background-color: #222;
}

#app-container{
    background: #222;
    color: white;
    text-align: center;
    height: 100%;
    font-size: 1em;
    margin: auto;
    border-radius: 0px;

    border: 10px solid white;

    padding: 50px;
    

    min-height: 90vh;
    width: 100%;

    #content-container{
        transition: .5s;
        width: 100%;
        box-shadow: 10px 10px 200px 10px rgba(0,0,0,0.4);
    }

    .green{
        transition: .5s;
        background-color: #1DB954;
    }

    .default{
        background-color: #333;
    }

    .app{

        #text{
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", 'Pragmatica-Medium', Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
            text-align: left;
            #hi{
                font-size: 8em;
                font-weight: 800;
            }

            #name{
                font-size: 4em;
            }

            #description{
                position: relative;
                margin-top: 2rem;
                font-size: 2em;
            }

            #spotify{
                position: relative;
                margin-top: 2rem;
                font-size: 7em;
            }

            a{
                position: relative;
                color: white;
                text-decoration: none;
                z-index: 5;
            }
        }

    }
}

#border-top{
    //width: 1000px;
    transition: .3s;
    min-height: 2rem;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
    

    &:hover{
        transition: .3s;
        background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    );
    }
}

@font-face {
    font-family: 'Pragmatica-Medium';
    src: url('/fonts/PragmaticaMedium.otf');
}

@media (orientation: landscape) and (min-width: 1001px){
    #header{
        min-height: 5vh;
        background: #444;
    }
    
    #footer{
        background: #444;
        min-height: 5vh;
    }
    
    .app{
        #text{
            padding-top: 1rem;
            padding-left: 5rem;
            padding-right: 1rem;
            padding-bottom: 2rem;
        }
    }
    #content-container{
        border: 10px solid white;
        transition: .5s;
        max-width: 1000px;
        margin-left: 20%;
        border-radius: 10px;
        #border-top{
            // border-top-left-radius: 7px;
            // border-top-right-radius: 7px;
        }
    }

}

@media (max-width: 500px){
    .app{
        #text{
            padding: 30px;
        }
    }
    #app-container{
        padding: 0;
        border: transparent;
    }
    #content-container{
        border: transparent;
        font-size: .6em;
        border-bottom: solid 5px white;
        border-radius:0;
    }
    #border-top{
        min-height: 3rem;
    }
}
@media (orientation: landscape) and (max-width: 999px){
    #header{
        min-height: 5vh;
        background: #444;
    }
    
    #footer{
        background: #444;
        min-height: 5vh;
    }
    
    .app{
        #text{
            padding-top: 1rem;
            padding-left: 5rem;
            padding-bottom: 2rem;
        }
    }
    #content-container{
        border: 10px solid white;
        transition: .5s;
        max-width: 1000px;
        margin-left: 20%;
        border-radius: 10px;
        #border-top{
            // border-top-left-radius: 7px;
            // border-top-right-radius: 7px;
        }
    }

}

@media (orientation: portrait){
    .app{
        #text{
            padding: 30px;
        }
    }
    #app-container{
        padding: 0;
        border: transparent;
    }
    #content-container{
        border: transparent;
        border-bottom: solid 5px white;
        border-radius:0;
    }
    #border-top{
        min-height: 3rem;
    }

}

@media (max-width: 500px){
    .app{
        #text{
            padding: 30px;
        }
    }
    #app-container{
        padding: 0;
        border: transparent;
    }
    #content-container{
        border: transparent;
        font-size: .6em;
        border-bottom: solid 5px white;
        border-radius:0;
    }
    #border-top{
        min-height: 3rem;
    }
}

@media (max-width: 400px){
    .app{
        #text{
            padding: 30px;
        }
    }
    #app-container{
        padding: 0;
        border: transparent;
    }
    #content-container{
        border: transparent;
        font-size: .6em;
        border-bottom: solid 5px white;
        border-radius:0;
    }
    #border-top{
        min-height: 3rem;
    }
}

@import 'link';