
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

// Import fonts and remove margin for HTML
html,
body {
    background-color: #222;
    margin: 0;
    font-size: 1em;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

html{
    background-color: #222;
}

#app-container{
    background: #222;
    color: white;
    text-align: center;
    height: 100%;
    font-size: 1em;
    margin: auto;
    border-radius: 0px;

    //border: 10px solid white;

    padding: 50px;
    

    min-height: 90vh;
    width: 100%;

    #content-container{
        margin: auto;
        text-align: center;
        transition: .5s;
        width: 100%;
        //box-shadow: 10px 10px 200px 10px rgba(0,0,0,0.4);
    }

    .green{
        transition: .5s;
        background-color: #1DB954;
    }

    .default{
        background-color: #333;
    }

    .app{

        border-left: solid #888 10px;
        border-bottom: solid #888 10px;
        border-right: solid #888 10px;

        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        

        #text{
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", 'Pragmatica-Medium', Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
            text-align: left;
            #hi{
                font-size: 8em;
                font-weight: 700;
            }

            #name{
                font-weight: 500;
                font-size: 3.5em;
            }

            #description{
                position: relative;
                margin-top: 2rem;
                font-size: 2em;
            }

            #spotify{
                position: relative;
                margin-top: 2rem;
                font-size: 7em;
            }

            a{
                position: relative;
                color: white;
                text-decoration: none;
                z-index: 5;
            }
        }

    }
}

#border-header{
    width: 100%;
    height: 10px;
    background: #444;
}

#border-top{
    //width: 1000px;
    transition: .3s;
    min-height: 3rem;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
    

    &:hover{
        //transition: 1s;
        background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
        background-size: 400% 400%;

        -webkit-animation: AnimationName 1s ease infinite;
        -moz-animation: AnimationName 1s ease infinite;
        animation: AnimationName 1s ease infinite;

        @-webkit-keyframes AnimationName {
            0%{background-position:0% 50%}
            50%{background-position:100% 50%}
            100%{background-position:0% 50%}
        }
        @-moz-keyframes AnimationName {
            0%{background-position:0% 50%}
            50%{background-position:100% 50%}
            100%{background-position:0% 50%}
        }
        @keyframes AnimationName { 
            0%{background-position:0% 50%}
            50%{background-position:100% 50%}
            100%{background-position:0% 50%}
        }
    }
}

@font-face {
    font-family: 'Pragmatica-Medium';
    src: url('/fonts/PragmaticaMedium.otf');
}

@media (orientation: landscape) and (min-width: 1001px){
    #header{
        min-height: 5vh;
        background: #333;
    }
    
    #footer{
        background: #333;
        min-height: 5vh;
    }
    
    .app{
        #text{
            padding-top: 1rem;
            padding-left: 5rem;
            padding-right: 1rem;
            padding-bottom: 2rem;
        }
    }
    #content-container{
        //border: 10px solid #444;
        transition: .5s;
        max-width: 1000px;
        //margin-left: 20%;
        border-radius: 10px;
        #border-top{
             border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
    }

}

@media (max-width: 500px){
    .app{
        #text{
            padding: 30px;
        }
    }
    #app-container{
        padding: 0;
        border: transparent;
    }
    #content-container{
        border: transparent;
        font-size: .6em;
        border-bottom: solid 5px white;
        border-radius:0;
    }
    #border-top{
        min-height: 3rem;
    }
}
@media (orientation: landscape) and (max-width: 999px){
    #header{
        min-height: 5vh;
        background: #444;
    }
    
    #footer{
        background: #444;
        min-height: 5vh;
    }
    
    .app{
        #text{
            padding-top: 1rem;
            padding-left: 5rem;
            padding-bottom: 2rem;
        }
    }
    #content-container{
        border: 10px solid white;
        transition: .5s;
        max-width: 1000px;
        margin-left: 20%;
        border-radius: 10px;
        #border-top{
            // border-top-left-radius: 7px;
            // border-top-right-radius: 7px;
        }
    }

}

@media (orientation: portrait){
    .app{
        #text{
            padding: 30px;
        }
    }
    #app-container{
        padding: 0;
        border: transparent;
    }
    #content-container{
        border: transparent;
        border-bottom: solid 10px white;
        border-radius:0;
    }
    #border-top{
        min-height: 3rem;
    }

}

@media (max-width: 500px){
    .app{
        #text{
            padding: 30px;
        }
    }
    #app-container{
        padding: 0;
        border: transparent;
    }
    #content-container{
        border: transparent;
        font-size: .6em;
        border-bottom: solid 5px white;
        border-radius:0;
    }
    #border-top{
        min-height: 3rem;
    }
}

@media (max-width: 400px){
    .app{
        #text{
            padding: 30px;
        }
    }
    #app-container{
        padding: 0;
        border: transparent;
    }
    #content-container{
        border: transparent;
        font-size: .6em;
        border-bottom: solid 5px white;
        border-radius:0;
    }
    #border-top{
        min-height: 3rem;
    }
}

@import 'link';