* {
  box-sizing: border-box;
}

html,
body {
  background-color: #222;
  margin: 0;
  font-size: 1em;
  font-family: -apple-system, BlinkMacSystemFont, "proxima-nova", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

html {
  background-color: #222;
}

#app-container {
  background: #222;
  color: white;
  text-align: center;
  height: 100%;
  font-size: 1em;
  margin: auto;
  border-radius: 20px;
  min-height: 90vh;
  width: 100%;
}
#app-container .green {
  transition: 0.5s;
  background-color: #1DB954;
}
#app-container .default {
  background-color: #333;
}
#app-container .app {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
#app-container .app #text {
  font-family: "Pragmatica-Medium";
  padding: 2.5rem 5rem;
  text-align: left;
}
#app-container .app #text #hi {
  font-size: 8em;
  font-weight: 800;
}
#app-container .app #text #name {
  font-size: 4em;
}
#app-container .app #text #description {
  position: relative;
  margin-top: 2rem;
  font-size: 2em;
}
#app-container .app #text #spotify {
  position: relative;
  margin-top: 2rem;
  font-size: 7em;
}
#app-container .app #text a {
  position: relative;
  color: white;
  text-decoration: none;
  z-index: 5;
}

#header {
  min-height: 5vh;
  background: #222;
}

#border-top {
  min-height: 1rem;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  background: linear-gradient(90deg, red 0%, #ff9a00 10%, #d0de21 20%, #4fdc4a 30%, #3fdad8 40%, #2fc9e2 50%, #1c7fee 60%, #5f15f2 70%, #ba0cf8 80%, #fb07d9 90%, red 100%);
}

@font-face {
  font-family: "Pragmatica-Medium";
  src: url("/fonts/PragmaticaMedium.otf");
}
@media (orientation: landscape) {
  #content-container {
    transition: 0.5s;
    width: 1000px;
    margin: 0 20% 40%;
  }
  #content-container #border-top {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
  }
}
@media (orientation: portrait) {
  #content-container {
    transition: 0.5s;
    width: 100%;
    margin: 0;
  }
  #content-container #border-top {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
}
.link {
  cursor: pointer;
  position: relative;
  white-space: nowrap;
}

.link::before,
.link::after {
  position: absolute;
  height: 5px;
  background: currentColor;
  top: 105%;
  width: 100%;
  left: 0;
  z-index: -1;
}

.link::before {
  content: "";
}

.spotify::before,
.spotify::after {
  color: #1DB954;
  width: 125%;
  left: -12.5%;
}

.spotify:hover::before {
  transform-origin: 0% 0%;
  transform: scale3d(1, -30, 1);
  transition: transform 0.15s;
}

.style::before {
  color: #2a5ad5;
}

.link::before {
  transform-origin: 0% 0%;
  transform: scale3d(1, -1, 1);
  transition: transform 0.15s;
}

.style:hover::before {
  width: 102%;
  left: -1%;
  transform-origin: 0% 0%;
  transform: scale3d(1, -8, 1);
  transition: transform 0.15s;
}
