* {
  box-sizing: border-box;
}

html,
body {
  background-color: #222;
  margin: 0;
  font-size: 1em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

html {
  background-color: #222;
}

#app-container {
  background: #222;
  color: white;
  text-align: center;
  height: 100%;
  font-size: 1em;
  margin: auto;
  border-radius: 0px;
  padding: 50px;
  min-height: 90vh;
  width: 100%;
}
#app-container #content-container {
  margin: auto;
  text-align: center;
  transition: 0.5s;
  width: 100%;
}
#app-container .green {
  transition: 0.5s;
  background-color: #1DB954;
}
#app-container .default {
  background-color: #333;
}
#app-container .app #text {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Pragmatica-Medium", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-align: left;
}
#app-container .app #text #hi {
  font-size: 8em;
  font-weight: 700;
}
#app-container .app #text #name {
  font-weight: 500;
  font-size: 3.5em;
}
#app-container .app #text #description {
  position: relative;
  margin-top: 2rem;
  font-size: 2em;
}
#app-container .app #text #spotify {
  position: relative;
  margin-top: 2rem;
  font-size: 7em;
}
#app-container .app #text a {
  position: relative;
  color: white;
  text-decoration: none;
  z-index: 5;
}

#border-top {
  transition: 0.3s;
  min-height: 3rem;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
}
#border-top:hover {
  background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 1s ease infinite;
  animation: AnimationName 1s ease infinite;
}
@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@font-face {
  font-family: "Pragmatica-Medium";
  src: url("/fonts/PragmaticaMedium.otf");
}
@media (orientation: landscape) {
  #border-header {
    width: 100%;
    height: 10px;
    background: #444;
  }

  #header {
    min-height: 5vh;
    background: #333;
  }

  #footer {
    background: #333;
    min-height: 5vh;
  }

  .app {
    border-left: solid #888 10px;
    border-bottom: solid #888 10px;
    border-right: solid #888 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .app #text {
    padding-top: 1rem;
    padding-left: 5rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
  }

  #content-container {
    transition: 0.5s;
    max-width: 1000px;
    border-radius: 10px;
  }
  #content-container #border-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}
@media (orientation: portrait) {
  .app #text {
    padding: 30px;
  }

  #app-container {
    padding: 0;
    border: transparent;
  }

  #content-container {
    border: transparent;
    border-bottom: solid 10px white;
    border-radius: 0;
  }

  #border-top {
    min-height: 3rem;
  }
}
@media (max-width: 500px) {
  .app #text {
    padding: 30px;
  }

  #app-container {
    padding: 0;
    border: transparent;
  }

  #content-container {
    border: transparent;
    font-size: 0.6em;
    border-bottom: solid 5px white;
    border-radius: 0;
  }

  #border-top {
    min-height: 3rem;
  }
}
@media (max-width: 400px) {
  .app #text {
    padding: 30px;
  }

  #app-container {
    padding: 0;
    border: transparent;
  }

  #content-container {
    border: transparent;
    font-size: 0.6em;
    border-bottom: solid 5px white;
    border-radius: 0;
  }

  #border-top {
    min-height: 3rem;
  }
}
.link {
  cursor: pointer;
  position: relative;
  white-space: nowrap;
}

.link::before,
.link::after {
  position: absolute;
  height: 5px;
  background: currentColor;
  top: 108%;
  width: 102%;
  left: -1%;
  z-index: -1;
}

.link::before {
  content: "";
}

.spotify::before,
.spotify::after {
  color: #1DB954;
  width: 125%;
  left: -12.5%;
}

.spotify:hover::before {
  transform-origin: 0% 0%;
  transform: scale3d(1, -30, 1);
  transition: transform 0.15s;
}

.style::before {
  color: #2a5ad5;
}

.link::before {
  transform-origin: 0% 0%;
  transform: scale3d(1, -1, 1);
  transition: transform 0.15s;
}

.style:hover::before {
  transform-origin: 0% 0%;
  transform: scale3d(1, -8, 1);
  transition: transform 0.15s;
}

@media (max-width: 400px) {
  .style:hover::before {
    transform: scale3d(1, -4, 1);
  }
}
@media (max-width: 500px) {
  .style:hover::before {
    transform: scale3d(1, -5, 1);
  }
}
